.word-break {
  word-break: break-word;
}

.display-grid {
  display: grid;
  align-items: center;
}

.empty-state {
  min-height: 300px;
  padding: 30px 0 20px;
  text-align: center;
}

.empty-state__icon {
  display: inline-block;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  padding: 38px 0;
  font-size: 80px !important;
  line-height: 1;
  border-radius: 50%;
  border: 2px solid gray;
}

.empty-state .icon-grey {
  color: #999;
  border: 2px solid #ccc;
}

.empty-state__description {
  font-size: 18px;
  line-height: 1.3333333;
  color: #666;
}

